.user-table-container {
  height: 90vw;
  width: 100%;
  max-height: 95vh;
}

.active {
  color: green;
}

.disabled {
  color: red;
}

.mat-row {
  min-height: 10px;
}
.mat-row:nth-child(even) {
  background-color: #f1f1f1;
}
