.active {
  color: green;
}

.disabled {
  color: red;
}

.mat-row {
  min-height: 20px;
}
.mat-row:nth-child(even) {
  background-color: #f1f1f1;
}

::ng-deep #top-paginator {

  .mat-paginator-page-size {
    display: flex;
    flex-direction: row-reverse;
  }

  .mat-paginator-range-actions {
    position: absolute;
    bottom: calc(100vh - 713px);
    width: 100%;

    .mat-paginator-range-label {
      text-align: left;
      width: 100%;
    }
  }
}

